name: Deploy Cloud Function
on:
  push:
    branches: [ main ]
env:
  PROJECT: nubiral-oelsty

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Setup GCP Service Account
        uses: 'google-github-actions/auth@v0'
        with:
          project_id: ${{env.PROJECT}}
          version: '275.0.0'
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          export_default_credentials: true

      - name: deploy cloud function
        id: deploy
        uses: google-github-actions/deploy-cloud-functions@main
        with:
          name: ger-test-cicd
          runtime: python3.8
          project_id: nubiral-oelsty
          entry_point: execute

      - name: make the url aunthenticated
        run: |
          gcloud functions add-iam-policy-binding ILoveMkdev --member="allUsers" --role="roles/cloudfunctions.invoker"

      - name: test the url
        run: curl "${{ steps.deploy.outputs.url }}" 


